*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #0f0f0f;
}

#root {
  height: 100%;
}